<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<div th:each="user : ${users}">
    <a th:href="@{/admin(id=${user.getId()})}"
       th:text="${user.getName() + ', age = ' + user.getAge() + '
       , email = ' + user.getEmail() + '
       , roles = ' + user.getRolesName()}">user</a>
    <br/>
    <a th:href="@{/admin/edit(id=${user.getId()})}">Update!</a>
    <!--<form th:method="GET" th:action="@{/users/edit(id=${user.getId()})}">
        <input type="submit" value="Update!"/>
    </form>-->
    <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">
        <input type="submit" value="Delete!"/>
    </form>
</div>

<br/>
<hr/>
<a th:href="@{/admin/new}">New user</a>
<a href="/logout"><button><strong>Logout</strong></button></a>

</body>
</html>